@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir/Vazir.eot');
    src: url('../fonts/vazir/Vazir.woff') format('woff');
}

*{margin:0;padding:0;}

body{
    background-color: royalblue;
    overflow: auto;
}